@model IEnumerable<ProductStock.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Camera</title>
    <link href="@Url.Content("~/Content/ProductStyle.css")" rel="stylesheet" type="text/css" />
    <style>
        body {
            margin: 0;
            /*font-size: 28px;*/
            font-family: Oswald, sans-serif;
        }



        #StyleLink {
            width: 230px;
            position: fixed;
            z-index: 1;
            top: 50px;
            left: 10px;
            overflow-x: hidden;
            padding: 8px 0;
        }

            #StyleLink p {
                padding: 14px 25px;
                text-align: center;
                border: 1px solid black;
                text-decoration: none;
                font-size: 25px;
                display: block;
                color: black;
            }


                #StyleLink p:hover, p:active {
                    background-color: #E8E8E8;
                }

        .active, .btn:hover {
            background-color: #E8E8E8;
            color: white;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!--Header sidebar-->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FPT Store Status", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>



    <br /> <br />

    <div id="StyleLink">

        <p class="btn ">

            <a href="@Url.Action("Index", "Home")">Home</a>
        </p>

        <br />
        <p class="btn active">

            <a href="@Url.Action("Camera", "Home")">Camera</a>
        </p>
        <br />
        <p class="btn ">

            <a href="@Url.Action("Laptop", "Home")">Laptop</a>
        </p>
        <br />
        <p class="btn">

            <a href="@Url.Action("Iphone", "Home")">Iphone</a>

        </p>
    </div>
    <div class="main">

        <br />
        <div class="cardContainer">

            @foreach (var item in Model)
            {




                <div class="card">
                    <div class="container">
                        <h3>
                            <b> @Html.DisplayFor(modelItem => item.NameOfProduct) </b>

                            <span style="float: left; position: absolute; left: 500px; background-color: #5035FF; padding: 5px; border-radius: 5px; color: white; font-size: 20px; ">
                                @Html.DisplayFor(modelItem => item.InStock)
                            </span>

                        </h3>

                        <br />

                        <p>
                            @Html.DisplayFor(modelItem => item.Description)



                            <span style="float: left; position: absolute; left: 500px; ">
                                <button class="buttonStyle">@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </button>
                            </span>


                        </p>




                    </div>
                </div>

                <br />



            }
        </div>
    </div>

</body>
</html>
