@model ProductStock.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="@Url.Content("~/Content/StyleforCreateEdit.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @{Html.RenderAction("InventoryStatus", "Home"); }

    <div class="main">
        <h1>Product Detail</h1>
        <h3>Product</h3>

        <hr style="width: 60%" />



        <div class="form">
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NameOfProduct, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.EditorFor(model => model.NameOfProduct, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.NameOfProduct, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="">
                        @Html.LabelFor(model => model.InStock, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.EditorFor(model => model.InStock, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.InStock, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="">
                        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <div class="">
                        <div class="">
                            <input type="submit" value="Save" class="btnStyle btn-default" />
                        </div>
                    </div>

                    <br />
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                    <hr />
                </div>
            }
        </div>



    </div>
  
</body>
</html>
