@model IEnumerable<ProductStock.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/ProductStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @{Html.RenderAction("TemplateProduct", "Home"); } 


    <div class="main">
        <h3 id="createNew">@Html.ActionLink("Create new product", "Create")</h3>

        <div class="cardContainer">

            @foreach (var item in Model)
            {

           


                    <div class="card">
                        <div class="container">
                            <h3>
                               <b> @Html.DisplayFor(modelItem => item.NameOfProduct) </b>

                                <span style="float: left; position: absolute; left: 500px; background-color: #5035FF; padding: 5px; border-radius: 5px; color: white; font-size: 20px; ">
                                @Html.DisplayFor(modelItem => item.InStock)</span>

                            </h3>

                            <br/>

                            <p> @Html.DisplayFor(modelItem => item.Description) 

                               
                               
                                <span  style="float: left; position: absolute; left: 500px; ">
                                    <button class="buttonStyle">@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </button>
                                </span>
                             
                            
                            </p>



                            
                        </div>
                    </div>

                    <br />
         


            }
        </div>
    </div>

    




</body>
</html>
